<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<script type="text/javascript" src = "js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src = "js/bootstrap.min.js"></script>
	<script type="text/javascript" src = "https://hoangtdprofile.herokuapp.com/socket.io/socket.io.js"></script>
	<script type="text/javascript" src = "js/main.js"></script>
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">My Profile</a></p>
        <img src="img/profile.jpg" class="img-circle" height="65" width="65" alt="Avatar">
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">W3Schools</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Facebook</a></p>
      <p><a href="#">Skyper</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
                <h2>Đăng ký bạn bè</h2>
			    <p>Thông tin đăng ký tài khoản</p>
			  	<div class="form-group row">
			      <div class="col-xs-3">
			        <label for="ex1">Họ Tên:</label>
			        <input type="text" class="form-control" id="fullName" placeholder="Enter name" name="fullName">
			      </div>
			      <div class="col-xs-3">
			        <label for="ex2">Phone:</label>
			        <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
			      </div>
			      <div class="col-xs-3">
			        <label for="ex3">Email:</label>
			        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
			      </div>
			      <div class="col-xs-3">
			      	<label for="ex3">&nbsp;</label>
			        <button type="button" id = "btnRegister" class="form-control btn btn-default">Đăng ký</button>
			      </div>
		    	</div>
            </div>
          </div>
        </div>
      </div>
      
      <div id = "listUser"></div>
    </div>

    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>      
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>hoangtd@vnext.vn</p>
</footer>
</body>
</html>